body{
	background-color: #ff99ff;
}

h1{
	text-align: center;
	font-family: 'Monoton';
	font-size: 40px;
}

#imagen1{
	width: 300px;
	height: 300px;
	position: relative;
  	top: 100px;
  	left: 570px;
  	background-color: #000066;
	background-image: 
	

}

#imagen2{
	width: 300px;
	height: 300px;
	position: relative;
  	top: -200px;
  	left: 1000px;
  	background-color: #000066;
	

}

#imagen3{
	width: 300px;
	height: 300px;
	position: relative;
  	top: -100px;
  	left: 570px;
  	background-color: #000066

}

#imagen4{
	width: 300px;
	height: 300px;
	position: relative;
  	top: -400px;
  	left: 1000px;
  	background-color: #000066

}

p{
	font-size: 25px;
	text-align: center;
	font-family: 'Audiowide';
}




	




